html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #2E2E2E; 
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  color: #D4AF37; 
}